.postCard{
    width: 23rem;
    margin-bottom: 15px;
    text-align: center;
}

.postCard_title{
    height: 3em;
}

.postCard_text{
    height: 8em;
}

.postCard_btn{
    margin-bottom: 5px;
}

.item{
    margin-bottom: 5px;
}

.error {
    font-size: 16px;
    color: red;
  }